<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <%- include('common/header');%>
    <h1>this is login js</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, commodi veniam. Animi fugiat exercitationem repellendus totam corporis quas unde id delectus, fuga officia voluptates beatae ipsum facilis, dolorum tempore nihil, deserunt perspiciatis ex. Deserunt.</p>

</body>
</html>